extends includes/layout.pug


block content
  
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    //- div#home_top.recent-post-item(style='margin: 1rem auto 0 !important;padding: 0px 15px !important;max-width: 1450px !important;width: 100% !important;')
    //- include ./includes/categoryBar.pug
    +postUI
    include includes/pagination.pug